<center>
<h1>second role</h1>
<h1>"{{ hostvars['server2']['ansible_default_ipv4']['address'] }}" </h1>
<h1> "{{ hostvars['server2']['ansible_os_family'] }}"</h1>
<img src="us.png" alt="second image"  width="300" height="222">
<h1> "owner name:       {{ owner }}" </h1>
<h1> "owner lastname:      {{ lastname }}" </h1>
</center>
